@charset "UTF-8";
/* 网站主要UI色  目前为墨绿 */
/*按钮浅绿背景色*/
/* 按钮深红色 */
/* 按钮浅红色背景 */
/* 按钮深灰色 */
/* 按钮浅灰色 */
/*背景色*/
/*主要的灰色文字色*/
/*一px线颜色*/
/* 主要金色 */
/* 文字金色 */
.cGold { color: #F46E00; }

.cGray { color: #bababa; }

.cGreen { color: #dc2e2e; }

/* 图片服务器地址 */
.Dice { background-image: url(http://images.dafa176.com/system/common/dice/diceK3.png); display: inline-block; background-size: 200% 600%; vertical-align: middle; }

.Dice1 { background-position: 0 -0; }

.Dice2 { background-position: 0 -100%; }

.Dice3 { background-position: 0 -200%; }

.Dice4 { background-position: 0 -300%; }

.Dice5 { background-position: 0 -400%; }

.Dice6 { background-position: 0 -500%; }

.rDice0 { background-position: -100% -0; }

.rDice1 { background-position: -100% -100%; }

.rDice2 { background-position: -100% -200%; }

.rDice3 { background-position: -100% -300%; }

body { background: #317455; }

.bottom { background: #000; }

.Dice { width: 1.2em; height: 1.2em; }

.top { z-index: 10; height: 2.3em; line-height: 2.3em; background: #000; font-size: 1em; }
.top .xiala { font-size: .8em; margin: 0 .2em; line-height: 2.5em; height: 2.5em; }
.top #lotteryChoice { position: absolute; top: 0; right: .6em; width: 5.5em; height: 2.875em; font-size: 0.8em; text-align: right; }
.top #lotteryChoice > div { display: none; background-color: rgba(255, 255, 255, 0.95); text-align: center; }
.top #lotteryChoice a { color: #333; display: block; }
.top #lotteryChoice .hr1px { margin-left: 10%; width: 80%; }
.top > div { font-size: 0.8em; line-height: 2.875em; }
.top > div p { display: inline-block; width: 1em; font-size: .7em; line-height: 1.1em; transform: translate(0, 0.35em); }
.top > div span { border: 1px solid rgba(255, 255, 255, 0.5); padding: .2em; margin-left: .2em; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; }
.top > div span .xiala { color: #f0c930; }
.top ul { width: 16rem; height: 30em; padding: .5em; margin: 0 auto; background: #317455; text-align: center; }
.top ul li { display: inline-block; width: 4.5em; height: 4.5em; margin: .25em; border: 1px solid rgba(255, 255, 255, 0.3); vertical-align: top; }
.top ul li p { height: 1.8em; line-height: 1.8em; }
.top ul li .p0 { color: #fff; font-size: .8em; }
.top ul li .p1 { color: #caebda; font-size: .6em; }
.top ul li .p2 { height: 2.1em; color: #caebda; width: 103.5%; position: relative; }
.top ul li:first-child .p2:after, .top ul li:first-child .p2:before { content: "+"; position: absolute; font-size: 0.6em; top: 0; }
.top ul li:first-child .p2:before { left: 2.1em; }
.top ul li:first-child .p2:after { right: 2.3em; }
.top ul li:nth-last-of-type(1) { opacity: 0; }
.top ul li.checked { border-color: #f4c829; }

.State { color: #caebda; position: fixed; top: 2.3em; left: 0; width: 16.1rem; height: 3em; background-color: #22563f; border-top: 1px solid #426d5a; }
.State > div { float: left; width: 8rem; height: 100%; border-right: 1px solid #164630; text-align: center; }
.State > div p { margin-top: .35em; font-size: .7em; line-height: 1.1em; height: 1.1em; }
.State > div > div { height: 1.6em; line-height: 1.6em; font-size: 1em; }
.State > div > div .iconfont { color: #78ba9e; margin-left: .2em; }
.State > div #openResult { display: none; margin-top: .1em; }
.State > div #openResult .Dice { width: 1.4em; height: 1.4em; }
.State > div #time { font-size: 1.2em; font-family: Consolas; }
.State table { display: none; border-top: 1px solid rgba(255, 255, 255, 0.3); background-color: #22563f; width: 16rem; font-size: .7em; color: #caebda; text-align: center; }
.State table tr { height: 2em; }
.State table tr:nth-of-type(1) { border-bottom: 1px solid #212121; }
.State table tr:nth-of-type(1) td:nth-of-type(1) { border-right: 0 none; }
.State table td:nth-of-type(1) { width: 4.5rem; border-right: 1px solid #212121; }
.State table td:nth-of-type(1) i { display: block; color: #212121; float: right; transform: translate(55%, 0); }
.State table td:nth-of-type(2) { width: 4.5rem; }
.State table td:nth-of-type(2) .Dice { width: 1.42em; height: 1.42em; }
.State table td:nth-of-type(3) { width: 2rem; }
.State table td:nth-of-type(4) { width: 2rem; }
.State table td:nth-of-type(5) { width: 2rem; }

footer.bottom { height: auto; }

footer .ft0 { height: 2.5em; line-height: 2.5em; }
footer .ft0 .fl { color: #ffaf36; line-height: 2.5em; padding: 0 .5em; }
footer .ft0 p.fl { color: #fff; padding: 0; font-size: 0.8em; line-height: 3.125em; }
footer .ft0 .fr { color: #4e0904; height: 1.6em; line-height: 1.6em; padding: 0 .6em; margin: 0.45em 0.3em; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; background: #feab03; background: -ms-linear-gradient(to bottom, #ffdb01 0%,#e07a06 100%); background: -moz-linear-gradient(to bottom, #ffdb01 0%,#e07a06 100%); background: linear-gradient(to bottom, #ffdb01 0%,#e07a06 100%); background: -webkit-linear-gradient(to bottom, #ffdb01 0%,#e07a06 100%); }
footer .ft0 .fr:active { background: #feab03; }
footer table { width: 100%; background-color: #22563f; color: #fff; }
footer table tr { font-size: .8em; height: 2em; line-height: 2em; }
footer table tr:before { content: ''; position: absolute; left: 0; width: 100%; height: 1px; -ms-transform: scaleY(0.5); -moz-transform: scaleY(0.5); -webkit-transform: scaleY(0.5); transform: scaleY(0.5); -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -webkit-transform-origin: 0 0; transform-origin: 0 0; background: #164630; }
footer table tr td:nth-of-type(1) { text-align: center; width: 5em; color: #caebda; }
footer table tr div { color: #caebda; display: inline-block; font-size: .8em; }
footer table tr span { color: #f4c829; }
footer table tr #choice { display: block; height: 2em; overflow: hidden; }
footer table tr input { height: 1.6em; line-height: 1.6em; width: 5em; background-color: #cbeedc; color: #19593c; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; text-align: center; margin-right: .2em; outline: none; margin: 0; padding: 0; vertical-align: middle; transform: translateY(1px); }

.main { padding-top: 5.5em; padding-bottom: 5.2em; width: 100%; overflow: hidden; }
.main .MethodWrap { display: table; }

.Method { display: table-cell; vertical-align: middle; width: 16rem; padding: .5rem; margin: 0 auto; height: auto; color: #fff; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* 屏蔽点击阴影 */ }
.Method .MethodMsg { font-size: .6em; text-align: center; height: auto; line-height: 1.5em; margin: .4em auto; color: #caebda; word-break: break-all; }
.Method ul { width: 15rem; margin: 0 auto; text-align: center; }
.Method ul li { vertical-align: top; display: inline-block; text-align: center; border: 1px solid rgba(255, 255, 255, 0.3); }
.Method ul li.checked { color: #f4c829; border-color: #f4c829; }
.Method ul li.checked p { color: #f4c829; }

.Method0 li { width: 3rem; height: 2.34em; padding-top: .1em; overflow: hidden; margin: .1rem .2em; line-height: 1.22em; font-size: .9em; }
.Method0 li p { font-size: .6em; line-height: 1.2em; color: #caebda; }

.Method1 ul, .Method4 ul { justify-content: space-around; }
.Method1 li, .Method4 li { padding: .2em 2em; margin: .4rem auto; }

.Method2 li, .Method3 li, .Method5 li, .Method6 li, .Method7 li { width: 2.2rem; padding: .2em 0; margin: .1rem .15rem; }

.light { -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; padding: .05em .15em; /* color:#fff;
&.big{background-color:#019001; }
&.small{background-color:#b2e34b; }
&.double{background-color:#ff9726; }
&.single{background-color:#4aa8db; } */ }

.xiala { display: inline-block; transition: all linear 0.3s; vertical-align: middle; -ms-transform-origin: 50% 45%; -moz-transform-origin: 50% 45%; -webkit-transform-origin: 50% 45%; transform-origin: 50% 45%; }

.on .xiala { transform: rotate(180deg); }

.betTopDetail { border: none !important; }
.betTopDetail li { float: inherit !important; }

/*# sourceMappingURL=k3.css.map */
