@charset "UTF-8";
/* 网站主要UI色  目前为墨绿 */
/*按钮浅绿背景色*/
/* 按钮深红色 */
/* 按钮浅红色背景 */
/* 按钮深灰色 */
/* 按钮浅灰色 */
/*背景色*/
/*主要的灰色文字色*/
/*一px线颜色*/
/* 主要金色 */
/* 文字金色 */
.cGold { color: #F46E00; }

.cGray { color: #bababa; }

.cGreen { color: #dc2e2e; }

/* 图片服务器地址 */
/*--样式重置*/
html { font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

svg:not(:root) { overflow: hidden; }

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: inherit; }

a:active { outline: 0; }

/*a:active { color: #006699; }*/
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; vertical-align: middle; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; appearance: none; -moz-appearance: none; -webkit-appearance: none; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; font-size: inherit; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; resize: vertical; }

optgroup { font-weight: bold; }

ins { text-decoration: blink; }

em, i { font-style: inherit; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

html, button, input, select, textarea { font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial,  "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }

ul, ol, li, dl, dd { margin: 0; padding: 0; }

ul, ol { list-style: none outside none; }

h1, h2, h3 { font-weight: normal; }

input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }

input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/*样式重置--*/
/*--常用原子类*/
.fl { float: left; }

.fr { float: right; }

/*常用原子类--*/
@font-face { font-family: 'iconfont'; src: url("//at.alicdn.com/t/font_1475058654_096525.eot");
  /* IE9*/
src: url("//at.alicdn.com/t/font_1475058654_096525.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1475058654_096525.woff") format("woff"), url("//at.alicdn.com/t/font_1475058654_096525.ttf") format("truetype"), url("//at.alicdn.com/t/font_1475058654_096525.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.cGold { color: #F46E00; }

.cGray { color: #bababa; }

.cGreen { color: #dc2e2e; }

.iconfont.loading:after { content: "\e600"; }

.iconfont.unfold:after { content: "\e601"; }

.iconfont.gerenzhongxin:after { content: "\e602"; }

.iconfont.back:after { content: "\e60a"; }

.iconfont.question:after { content: "\e60c"; }

.iconfont.right:after { content: "\e60e"; }

.iconfont.fold:after { content: "\e60f"; }

.iconfont.info:after { content: "\e610"; }

.iconfont.zhuye:after { content: "\e604"; }

.iconfont.kefu:after { content: "\e605"; }

.iconfont.huodong:after { content: "\e607"; }

.iconfont.tishi:after { content: "\e608"; }

.iconfont.gonggao:after { content: "\e618"; }

.iconfont.gongyongzanwushuju:after { content: "\e60d"; }

.iconfont.xiala:after { content: "\e61e"; }

.iconfont.copy:after { content: "\e61f"; }

.iconfont { font-style: normal; font-family: 'iconfont'; font-size: inherit; color: inherit; }

.DontSelect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

body { background-color: #efeef4; }

.top, .bottom { z-index: 100; }

.top { position: fixed; top: 0; width: 100%; height: 2.55556em; line-height: 2.55556em; font-size: .9em; text-align: center; color: #fff; background: #dc3b40; background: -ms-linear-gradient(to bottom, #dc3b40 2%,#dc3b40 50%, #db3b40 51%, #d7363b 100%); background: -moz-linear-gradient(to bottom, #dc3b40 2%,#dc3b40 50%, #db3b40 51%, #d7363b 100%); background: linear-gradient(to bottom, #dc3b40 2%,#dc3b40 50%, #db3b40 51%, #d7363b 100%); background: -webkit-linear-gradient(to bottom, #dc3b40 2%,#dc3b40 50%, #db3b40 51%, #d7363b 100%);}
.top h2 { display: inline-block; font-size: .9em; font-weight: normal; }
.top img { vertical-align: initial; width: 6.3em; height: 1.8em; margin-top: 0.37778em; }
.top > .iconfont { position: absolute; top: 0; left: 0; width: 2.5em; height: 100%; fill: #fff; }

.NOBACK .top .iconfont { display: none; }

.bottom { position: fixed; bottom: 0; width: 100%; height: 2.5em; background-color: #22292c; }
.bottom a:nth-child(1) .iconfont:before { content: "\e629"; }
.bottom a:nth-child(2) .iconfont:before { content: "\e62d"; }
.bottom a:nth-child(3) .iconfont:before { content: "\e627"; }
.bottom a:nth-child(4) .iconfont:before { content: "\e62b"; }
.bottom a:nth-child(1).on .iconfont:before { content: "\e62a"; }
.bottom a:nth-child(2).on .iconfont:before { content: "\e62e"; }
.bottom a:nth-child(3).on .iconfont:before { content: "\e628"; }
.bottom a:nth-child(4).on .iconfont:before { content: "\e62c"; }
.bottom a { color: #bbb; width: 25%; display: block; float: left; text-align: center; }
.bottom a.on { color: #e54042; }
.bottom a i { margin-top: .2em; display: block; font-size: 1.2em; line-height: 1.1em; height: 1.1em; font-weight: 100; }
.bottom a p { font-size: .6em; line-height: 1.2em; }

.bottom:before { content: ''; position: absolute; left: 0; background: #c2c2c4; width: 100%; height: 1px; -moz-transform: scaleY(0.5); -ms-transform: scaleY(0.5); -webkit-transform: scaleY(0.5); transform: scaleY(0.5); -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -webkit-transform-origin: 0 0; transform-origin: 0 0; }

.main { font-size: inherit; padding-top: 2.3em; padding-bottom: 2.5em; }
.main .innerWrap { /*     margin-top:map-get($l,margin); */ margin-top: 0.7em; }
.main .innerWrap .hr1px:first-of-type, .main .innerWrap .hr1px:last-of-type { width: 100%; }

.BTN { text-align: center; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; -webkit-tap-highlight-color: transparent; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; color: #ffffff; background: #dc3b40; background: -ms-linear-gradient(to bottom, #dc3b40 2%, #dc3b40 50%, #db3b40 51%, #d7363b 100%); background: -moz-linear-gradient(to bottom, #dc3b40 2%, #dc3b40 50%, #db3b40 51%, #d7363b 100%); background: linear-gradient(to bottom, #dc3b40 2%, #dc3b40 50%, #db3b40 51%, #d7363b 100%); background: -webkit-linear-gradient(to bottom, #dc3b40 2%, #dc3b40 50%, #db3b40 51%, #d7363b 100%); }
.BTN a { font-size: .9em; display: block; width: 100%; height: 100%; text-align: center; /* color: white; */ }
.BTN:active { background: #c71919; }

.submitBtn { width: 90%; margin: 1em auto; display: block; font-size: 0.8em; line-height: 2.6em; }

.BTN.unClick { color: #666; background: #e8e8e8; border-color: #bababa; }

.BTN.unClick:active { background-color: #bababa; }

.hr1px { height: 1px; background-image: -ms-linear-gradient(90deg, #d0d0d0, #d0d0d0 50%, transparent 50%); background-image: -moz-linear-gradient(90deg, #d0d0d0, #d0d0d0 50%, transparent 50%); background-image: -webkit-linear-gradient(90deg, #d0d0d0, #d0d0d0 50%, transparent 50%); }

.personalInfo ul li:active, .active:active { background-color: #d9d9d9; }

/* fullPageMsg */
.fullPageMsg { text-align: center; position: absolute; top: 43%; -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 100%; color: #989898; }
.fullPageMsg .fullPageIcon { font-size: 5rem; line-height: 4.5rem; }
.fullPageMsg p { font-size: .8em; }

/** * Ã¤Â¸â‚¬Ã¥Æ’ÂÃ§Â´Â Ã¨Â¾Â¹Ã¦Â¡â€  */
.newWinner ul li > div:before, .newWinner ul li > div:after, .personalInfo ul li > div:before, .personalInfo ul li > div:after, .fix:before, .fix:after { content: ""; display: table; }
.newWinner ul li > div:after, .personalInfo ul li > div:after, .fix:after { clear: both; overflow: hidden; }

.one li:after, .one li:before, .surperise:after, .surperise:before { content: ""; position: absolute; width: 100%; height: 1px; background-image: -ms-linear-gradient(90deg, transparent 50%, #d0d0d0, #d0d0d0 50%); background-image: -moz-linear-gradient(90deg, transparent 50%, #d0d0d0, #d0d0d0 50%); background-image: -webkit-linear-gradient(90deg, transparent 50%, #d0d0d0, #d0d0d0 50%); }

.manageBankcard .surperise .wrap { position: relative; }
.manageBankcard .surperise .wrap:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 1px; background-image: -ms-linear-gradient(90deg, transparent 50%, #d0d0d0, #d0d0d0 50%); background-image: -moz-linear-gradient(90deg, transparent 50%, #d0d0d0, #d0d0d0 50%); background-image: -webkit-linear-gradient(90deg, transparent 50%, #d0d0d0, #d0d0d0 50%); }

.top { z-index: 10; }
.top .right { position: absolute; right: 0.5em; font-size: 0.9em; }

.top ul { display: block; width: 9rem; height: 1.7em; line-height: 1.7em; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; border: 1px solid #fff; margin: .442em auto; overflow: hidden; }
.top ul li { width: 4.5rem; width: -ms-calc(4.5rem - 1px); width: -moz-calc(4.5rem - 1px); width: -webkit-calc(4.5rem - 1px); width: calc(4.5rem - 1px); float: left; }
.top ul li a { display: block; width: 100%; height: 100%; font-size: .8em; }
.top ul .on { background: #fff; color: #dc2e2e; }

.changeBtn { text-align: center; }

.subBtn { background: #e4393c; color: white; display: inline-block; width: 6rem; font-size: 0.8em; padding: 0.3rem 0; -moz-border-radius: 0.15rem; -webkit-border-radius: 0.15rem; border-radius: 0.15rem; }

.cancel { background: #d6d6d6; }

#leftTabBox { width: 100%; overflow: hidden; }
#leftTabBox .hd { background: #f3f3f3; line-height: 2.6em; font-size: 0.8em; }
#leftTabBox .hd:after { content: ''; position: absolute; background: #d0d0d0; width: 100%; height: 1px; -moz-transform: scaleY(0.5); -ms-transform: scaleY(0.5); -webkit-transform: scaleY(0.5); transform: scaleY(0.5); -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -webkit-transform-origin: 0 0; transform-origin: 0 0; z-index: 999; }
#leftTabBox .hd ul { display: table; table-layout: fixed; width: 100%; }
#leftTabBox .hd li { display: table-cell; text-align: center; }
#leftTabBox .on { color: #dc3b40; border-bottom: 2px solid; }

#banner .hd { width: 100%; height: 2em; line-height: 2em; position: absolute; bottom: -0.5em; z-index: 8; }
#banner .hd ul { display: table; width: 100%; table-layout: fixed; text-align: center; }
#banner .hd li { /*     font-size: 16/20*1em; */ /* color: #232323; */ /*     border-bottom: 2px solid $bodyB; */ text-align: center; display: table-cell; display: inline-block; background: #999; width: 0.3em; height: 0.3em; margin: 0.2em; -moz-border-radius: 0.5em; -webkit-border-radius: 0.5em; border-radius: 0.5em; }
#banner .hd .on { background: white; }

/** Ã¥Â½Â©Ã§Â¥Â¨Ã¥Ë†â€ Ã§Â±Â»Ã¥â€ºÂ¾Ã¦Â â€¡ */
.L_K3:before { content: "\e635"; color: #e01506; }

.L_PK10:before { content: "\e63b"; color: #009944; }

.L_XYNC:before { content: "\e63a"; color: #e70014; }

.L_KL8:before { content: "\e639"; color: #f39b02; }

.L_PL35:before { content: "\e638"; color: #06a5f9; }

.L_FC3D:before { content: "\e637"; color: #3469f5; }

.L_SSC:before { content: "\e634"; color: #fa7e00; }

.L_SYX5:before { content: "\e636"; color: #38b39e; }

/** loading */
.winningListLoading { text-align: center; padding: 50px 0; background: white; min-height: -ms-calc(100vh - 6.85556em); min-height: -moz-calc(100vh - 6.85556em); min-height: -webkit-calc(100vh - 6.85556em); min-height: calc(100vh - 6.85556em); }
.winningListLoading img { width: 40px; margin: 5px 0; }
.winningListLoading p, .winningListLoading h5 { font-size: 0.7em; color: #333; }

/** Ã¤Â¸â€°Ã¥Ë†â€”Ã§Â«â€“Ã§ÂºÂ¿Ã¦Â Â·Ã¥Â¼Â */
.PLSdetail { padding: 1rem; margin-top: 0; font-size: 2em; -o-transform: scale(0.5, 0.5); -webkit-transform: scale(0.5, 0.5); transform: scale(0.5, 0.5); width: 200%; -ms-transform-origin: 0 0; -moz-transform-origin: 0 0; -webkit-transform-origin: 0 0; transform-origin: 0 0; background: white; }
.PLSdetail li { float: left; width: 9.8rem; height: 10rem; text-align: center; font-size: 1.4rem; padding: 3rem 0; border-bottom: 1px solid #d0d0d0; }
.PLSdetail li span { display: block; color: #ff6818; font-size: 1.2em; }
.PLSdetail li:nth-child(3n+1), .PLSdetail li:nth-child(3n+2) { border-right: 1px solid #d0d0d0; }
.PLSdetail li:nth-last-of-type(1), .PLSdetail li:nth-last-of-type(2), .PLSdetail li:nth-last-of-type(3) { border-bottom: none; }

/** xuan xiang */
.moreLayer { position: fixed; bottom: 0; width: 100%; background-color: #efeef4; z-index: 12; }
.moreLayer ul { background-color: white; }
.moreLayer ul li + li { border: none; background-image: -ms-linear-gradient(90deg, #e0e0e0, #e0e0e0 50%, transparent 50%); background-image: -moz-linear-gradient(90deg, #e0e0e0, #e0e0e0 50%, transparent 50%); background-image: -webkit-linear-gradient(90deg, #e0e0e0, #e0e0e0 50%, transparent 50%); background-size: 100% 1px; background-repeat: no-repeat; background-position: top; }
.moreLayer ul + ul { margin-top: 0.5em; }
.moreLayer a { display: block; width: 100%; text-align: center; font-size: 0.9em; padding: 0.5em; }
.moreLayer a:active { background-color: #d9d9d9; }

.blackBg { top: 0; left: 0; position: fixed; width: 100%; height: 100%; background-color: black; opacity: 0.4; z-index: 11; }

/** top  more ... btn */
.topMore { font-family: "iconfont"; font-size: 1em; position: absolute; right: 0.4em; padding: 0 0.6em; }
.topMore:active { background: #ad1d21; }

.noActive:active { background: initial !important; }

/** top more sort */
.textMore { position: absolute; top: 0; right: 0.5em; width: 3.5em; height: 100%; font-size: 0.9em; text-align: right; }

/** Ã¥Å Â Ã¨Â½Â½Ã¤Â¸Â­Ã¤Â¸Å½Ã¥Å Â Ã¨Â½Â½Ã¥Â®Å’Ã¦Ë†Â */
.msg { text-align: center; line-height: 0.9em; }

.loadingMsg { font-size: 0.7em; padding: 0.9em 0; color: #4c4c4c; overflow: initial !important; /* background: initial !important; */ }
.loadingMsg svg { height: 1.2em; width: 1.2em; transform: translateY(0.2em); }

.noMore { background: initial !important; }

.proxySearch { width: 100%; width: -ms-calc(100% - 1em); width: -moz-calc(100% - 1em); width: -webkit-calc(100% - 1em); width: calc(100% - 1em); text-align: left; margin: 0.3em 0.5em; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; height: 1.6em; font-size: 0.7em; margin-right: 0; color: #999; display: block; float: left; border: none; border-right: none; -webkit-appearance: none; padding: 0; }

.searchBtn { background: #efeef4 !important; width: 100%; position: relative; height: 2.8em; overflow: hidden; }
.searchBtn a { position: absolute; right: 0.6em; top: 0.6em; display: block; width: 1.6em; height: 1.6em; }
.searchBtn a i { font-size: 1.2em; }
.searchBtn a:active div { background: #a91519; }

.searchCon { width: -ms-calc(100% - 1.2em); width: -moz-calc(100% - 1.2em); width: -webkit-calc(100% - 1.2em); width: calc(100% - 1.2em); background: white; height: 1.6em; margin: 0.6em; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; }

.submitTouch { color: white; background: #dc3b40; display: block; float: left; width: 1.6em; text-align: center; height: 1.6em; -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; line-height: 1.8em; font-size: 0.7em; margin: 0.35em 0; margin-left: 0.3em; }

/** top margin 0.7em */
.mainTop { margin-top: 0.7em !important; }

.dataSort { background: white; }
.dataSort .main { background: #efeef4; }

.msgPage .touchScroll { overflow-y: initial; min-height: initial; height: initial !important; border: none; -webkit-tap-highlight-color: transparent; outline: none; }

.currentUser { color: #0a5eff; line-height: 1.5em; }
.currentUser ins, .currentUser i { display: inline-block; }
.currentUser ins { transform: translateY(0.05em); }
.currentUser i { font-size: 2em; vertical-align: bottom; transform: translateY(0.07em); }

/** full loading animate. */
.iconLoadingCon { height: 5em; width: 5em; display: block; margin: 0 auto; margin-top: -ms-calc(50vw + 1.5em); margin-top: -moz-calc(50vw + 1.5em); margin-top: -webkit-calc(50vw + 1.5em); margin-top: calc(50vw + 1.5em); position: relative; }

.iconLoadingText { position: absolute; left: 0; bottom: 0; color: #253646; text-align: center; width: 100%; font-family: "iconfont"; font-size: 5em; line-height: 1em; }

.iconLoadingMove { will-change: transform; -webkit-animation: xAxis 0.8s infinite ease-in-out; animation: xAxis 0.8s infinite ease-in-out; position: absolute; bottom: 0; left: 1.2em; }

.iconLoadingMove:after { content: ""; background: url(http://images.dafa176.com/system/common/other/fangdajing.png) no-repeat; background-size: 2.5em; width: 2.5em; height: 2.5em; color: #e74c27; text-shadow: 0 0 1px white; display: block; will-change: transform; -webkit-animation: yAxis 0.8s infinite ease-in-out; animation: yAxis 0.8s infinite ease-in-out; animation-delay: -0.2s; }

@keyframes yAxis { 50% { -webkit-transform: translateY(-1.2em); transform: translateY(-1.2em); } }
@-webkit-keyframes yAxis { 50% { -webkit-transform: translateY(-1.2em); transform: translateY(-1.2em); } }
@keyframes xAxis { 50% { -webkit-transform: translateX(1.2em); transform: translateX(1.2em); } }
@-webkit-keyframes xAxis { 50% { -webkit-transform: translateX(1.2em); transform: translateX(1.2em); } }
.fullLoading { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: 1; background: #efeef4; }

#TouchScroll, #LayerLi { border: none; -webkit-tap-highlight-color: transparent; outline: none; }

/*# sourceMappingURL=public.css.map */
