@charset "UTF-8";
/* 网站主要UI色  目前为墨绿 */
/*按钮浅绿背景色*/
/* 按钮深红色 */
/* 按钮浅红色背景 */
/* 按钮深灰色 */
/* 按钮浅灰色 */
/*背景色*/
/*主要的灰色文字色*/
/*一px线颜色*/
/* 主要金色 */
/* 文字金色 */
.cGold { color: #F46E00; }

.cGray { color: #bababa; }

.cGreen { color: #dc2e2e; }

.options { padding: 0; margin-top: 0.6em; }
.options .hr1px { width: 15.2rem; float: right; }
.options a { width: 100%; display: block; line-height: 1.5em; padding: 9px .8rem; padding-left: 0; padding-left: 0.8rem; color: #333; /*font-weight: normal;*/ }
.options a:after { border-bottom: 1px solid #d0d0d0; }
.options a:first-child i { line-height: 1.25em; }
.options a:nth-child(3) i:first-child { background: #81c784 !important; }
.options a:nth-child(5) i:first-child { background: #63b4f6 !important; }
.options a:nth-child(7) i:first-child { background: #ffb74d !important; }
.options a i { line-height: 1.25em; }
.options .o1 { line-height: 1.5625em !important; }
.options .iconfont { display: inline-block; vertical-align: middle; font-size: 1em; margin-right: .5em; color: white; }
.options .iconfont.right { color: #ccc; }
.options span { vertical-align: middle; font-size: .8em; }
.options .fr { color: #ccc; vertical-align: middle; font-size: .8em; margin-top: .4em; font-style: normal; }

.userCenter .options .iconfont:first-child { background: #7885ca; height: 1.5625em; WIDTH: 1.5625em; -moz-border-radius: 0.1rem; -webkit-border-radius: 0.1rem; border-radius: 0.1rem; line-height: 1.5625em; text-align: center; font-size: 0.8em; }

.main { line-height: 1.25em; color: #000; padding-bottom: 4em; }

.main .hr1px { background-color: #fff; }

.main > div { width: 100%; background-color: #fff; height: auto; overflow: hidden; }

.topInfo { padding-top: .8em; padding-bottom: .8em; line-height: 1.4em; margin-bottom: 1px; padding-left: 0.8rem; padding-right: 0.8em; }
.topInfo img { -moz-border-radius: 0.15em; -webkit-border-radius: 0.15em; border-radius: 0.15em; height: 3.2em; width: 3.2em; float: left; margin-right: .5rem; }
.topInfo p { /*font-weight:bold;*/ font-size: .8em; padding-top: .35em; }
.topInfo span { font-size: .8em; }

.topMoney { padding: 0; vertical-align: middle; text-align: center; }
.topMoney a { display: block; float: left; width: 25%; height: 3em; }
.topMoney a .iconfont { margin-top: .5em; font-size: 1em; vertical-align: middle; display: block; line-height: 1em; }
.topMoney a .m0 { color: #ff2323; }
.topMoney a .m1 { color: #ee983d; }
.topMoney a .m2 { color: #3bcbb3; }
.topMoney a span { display: inline-block; font-size: .7em; vertical-align: middle; color: #666; }

.main .options { padding: 0; }

/** 后增加的css */
.personalInfo { padding-bottom: 4em; padding-top: 2.3em; }
.personalInfo ul { background: white; }
.personalInfo ul > div { padding: 0.75em 1.3em; }
.personalInfo ul li { font-size: 0.8em; }
.personalInfo ul li span { float: left; }
.personalInfo ul li em { float: right; }
.personalInfo ul li i { float: right; color: #ccc; margin-left: 0.25em; margin-right: -0.6em; }
.personalInfo ul li i:after { vertical-align: sub; }
.personalInfo ul li input { padding: 0; border: none; text-align: right; }
.personalInfo ul li > div { padding: 0.75em 0.5em; margin: 0 0.8em; }
.personalInfo ul li + li > div { border-top: 1px solid #dddddd; }
.personalInfo ul .headImg span, .personalInfo ul .headImg i { line-height: 3em; }
.personalInfo ul .headImg img { -moz-border-radius: 0.2em; -webkit-border-radius: 0.2em; border-radius: 0.2em; }
.personalInfo ul + ul { margin-top: 0.7em; }

/*# sourceMappingURL=user_account_personalinfo.css.map */
