@import 'scssConfig','mixin';
.user-main{background: #fff}
.BTN{
  width: 80%;
  height: 2.25em;
  line-height: 2.25em;
  margin: 1.5em auto 0;
  background-color: $btnred1;
  border-color: $btnred;
  color: #fff;
  border-bottom: .25em solid $btnred;
  font-weight: bold;
  letter-spacing: .2em;
  a{
    font-size: 1.2em;
  }
}
.BTN:active{
  margin-top: 1.75em;
  margin-bottom: -.25em;
  border:0 none;
  background-color:$btnred;
}
.BTN.unClick{
  color: #666;
  background: $btngray1 !important;
  border-color: $btngray;
}
.BTN.unClick:active{
  background-color:$btngray;
}

.activityInfo{
  width: 15rem;
  background-color: #fff;
  @include border-radius( .4rem);
  margin: 3em auto .5em;
  padding-top:0;
  padding-bottom: 1em;
  .activityImg{
    display: block;
    width: 100%;
    height:7.5rem;
    border-top-left-radius: .4rem;
    border-top-right-radius: .4rem;
  }
  .activityTitle{
    margin: 2em 0 .2em;
    display: inline-block;
    // height:1em;
    color: $green1;
    padding: .1em 1.6em .1em 1em;
    //background-image: url('../image/title.png');
    background-size: 100% 100%;
    margin-left: -.3em;
    background-repeat:no-repeat;
    span{
      display:inline-block;
      line-height: 1em;
      font-size:.7em;
    }
  }
  .activityMsg{
    width: 13.5rem;
    margin: .4em auto;
    font-size: .7em;
    // line-height: 1.2em;
    color: #333;
  }
  .Info{
    width: 80%;
    margin: 1.5em auto 0;
    *{
      font-size: .9em;
      line-height: 1.5em;
      font-style: normal;
    }
    input{
      width: 100%;
      height: 2.5em;
      @include border-radius( .4em);
      text-align: center;
    }
  }
  table{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    border:1px;
    border-color:#0099a3;
    cell-padding:0;
    cell-spacing:1px;
    line-height: 14px;
    th,td{
      text-align: center;
      font-size: 12px;
      line-height: 14px;
      height: 30px;
    }
    th{
      background-color: #109a5a;
      color: #fff;
    }
    td{
      background-color: #E7FBF1;
    }
  }
}

