//變數
$nav-top-h: 4.5em; //top選單高度

.nav-slider-wrapper {
  position: relative;
}
.nav-top-pos {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-top {
  overflow: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #22292C;
  ul {
    white-space: nowrap;
    height: ($nav-top-h - 1.2em);
    li {
      display: inline-block;
      width: 5em;
      text-align: center;
      padding: 0;
      color: #5C5F60;
      a {
        position: relative;
        display: table;
        width: 100%;
        height:($nav-top-h - 0.3em);
        font-size: 0.8em;
        color: #5C5F60;
        padding-top: 0.5em;
        &:before {
          line-height: 1em;
          font-size: 2em;
          font-family: 'iconfont';
        }
      }
      &:nth-child(1) {
        a {
            &:before {
              content: "\e65a";
            }
        }
      }
      &:nth-child(2) {
        a {
            &:before {
              content: "\e656";
            }
        }
      }
      &:nth-child(3) {
        a {
          &:before {
            content: "\e658";
          }
        }
      }
      &:nth-child(4) {
        a {
          &:before {
            content: "\e657";
          }
        }
      }
      &:nth-child(5) {
        a {
          &:before {
            content: "\e659";
          }
        }
      }
      &:hover, &.on {
        background-color: #151B1D;
        a {
          color: #F2F2F2;
        }
      }
    }
  }
}

//項目內容
.lottery-list-box {
  position: absolute;
  margin-top: 3.3em;
  background-color: #FFF;
  width: 100%;
  // height: 100%;
  ul {
    li {
      float: left;
      width: 33.3%;
      height: 5.5em;
      border-bottom: 1px solid #D3D3D3;
      text-align: center;
      padding-top: 0.5em;
      &:hover {
        background-color: #EEE;
      }
      a {
        font-family: 'iconfont';
        &:before {
          font-size: 2em;
        }
        p {
          font-size: 0.7em;
        }
        span {
          font-size: 0.7em;
          color: #9B9B9B;
        }
      }
    }
  }
}
