@import "mixin";
body{
    margin: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    display: table;
    width: 100%;
    background: white;
}
html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
em,i{
    font-style: initial;
    color: #e4393c;
    margin: 0 5px;
}
.fix{
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
        overflow:hidden;
    }
}
.notFound,.errorContent{
    width: 100%;
    margin:0 auto;
    height: 380px;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 455px;
    text-align: center;
    .left{
        /* float: left; */
        display:inline;
        img{

        }
    }
    .right{
        /* float: left; */
        display:inline;
        text-align: left;
        h1{
            color: #59adf2;
            font-weight: 400;
            text-align: center;
            font-size: 1.1em;
            margin-bottom: .2em;
        }
        p{
            color: #666666;
            line-height: 1.6;
            text-align: center;
            font-size: .7em;
            margin-bottom:.6em;
        }

    }
}
.maintain{
  display:table;
  margin:0 auto;
  img{
    /* margin-top:50px; */
    /* margin-right: 30px; */
  }
}
.errorService{
  display:inline-block;
  font-size: .8em;
  text-decoration: blink;
  color: #59adf2;
  border: 1px solid;
  padding: .3em .9em;
  @include border-radius( 4px);
  &:active{
    background: #eaeaea;
  }
}

.backHome{
  color: #59adf2;
  padding: 0 4px;
  @include border-radius( 0);
}

.errorLogo{
    position: absolute;
    right: 20px;
    bottom: 20px;
    img{
      height:50px;
    }
}


/**
 * 404页面样式
 */

.notFound{
  height: 455px;
  text-align: center;
  h1{
      color:#59adf2;
      font-weight: 400;
      margin: 40px 0;
      margin-bottom: 20px;
      font-size:22px;
  }
  p{
    line-height: 1.8;
    color:#666;
    text-align: left;
    display: table;
    margin: 0 auto;
  }
  a{
    font-size: 1em;
  }
}
