@import 'scssConfig','mixin';

.lottery_sscCon{
  height: 100%;
}
.groupSelect{
  a{
    display: inline-block;
    width: 5.4em;
  }
}

.isLotteryCon{
  position: fixed;
  top:2.3em;
  left: 0;
  width: 100%;
  background: #e1d9ba;
  z-index: 5;
  height: 3em;
}
.lottery_ssc{
  background: #f5f1e4;
  min-height: 100%;
}
.sscActive{
  min-height: 100%;
}