@import 'scssConfig','mixin';


.groupSelect{
  a{
    display: inline-block;
    width: 5.4em;
  }
}

.isLotteryCon{
  position: fixed;
  top:2.3em;
  left: 0;
  width: 100%;
  background: #f4f1e2;
  z-index: 5;
}
.lottery_ssc{
  background: #f9f8f0;
}