@import "_variable","mixin";

.newWinner{
    margin-top: 2.3em;
    /* margin-bottom: 2.5em; */
    position: relative;
    /* overflow: auto; */
    background:white;
    ul{
        font-size:0.7em;
        position: absolute;
        width: 100%;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        /* margin: 1em 0; */;
        li{
            height: 4em;
            overflow: hidden;
            background: white;
            &>div{
                padding: 0.5em 0.8rem;
                border: none;
                @include bgImg-linear-gradient('90deg, #d0d0d0, #d0d0d0 50%, transparent 50%');
                background-size: 100% 1px;
                background-repeat: no-repeat;
                background-position: top;
                span{
                  line-height: 1.5em;
                  height: 2.6em;
                  overflow: hidden;
                }
            }
            &:last-child{
                margin-bottom:3.6em;
            }
        }
    }
    img{
        width: 3em;
        height: 3em;
        @include border-radius(50%);
    }
    .headImg{
        display:block;
        float: left;
        width: 3em;
    }
    .right{
        float:left;
        width: 10rem;
        padding: 0 1em;
/*         margin-top: 0.2em; */
        height: 2.8em;
        line-height: 1.5em;
        overflow: hidden;
        // line-height: 1.6em;
        a{
            color:#0079ff;
        }
        em{
            color:#e80d2d;
        }
    }
    .iconfont{
      float: right;
      width: 1em;
      padding:0;
      font-size: 1.1em;
      color:#ccc;
      text-align: right;
      line-height: 2.5em;
    }
}

.competition{
    margin-top: 2.3em;
    margin-bottom: 2.5em;
    background: white;
    table{
        background:white;
        width: 100%;
        font-size: 0.7em;
        tr{
            td:first-child{
                padding-left: 0.8rem;
            }
            td{
            height:3.6em;
            position: relative;
            span{
                color:#e80d2d;
            }
            i{
                color:#0079ff;
            }
            &:before{
                content: '';
                position: absolute;
                left: 0;
                background: #d0d0d0;
                width: 100%;
                height: 1px;
                @include scaleY(0.5);
                @include origin( 0 0);
/*                 bottom: -1px; */
                top:0;
            }
            }

            &:nth-child(1) td:nth-child(2){
                em{
                    background: #ca9293;
                    color:white;
                    background: -webkit-radial-gradient(circle at 25px 25px, #c12f33, #ca9293);
                    background: radial-gradient(circle at 25px 25px, #c12f33, #ca9293);
                }
            }
            &:nth-child(2) td:nth-child(2){
                em{
                    background: #53b0fe;
                    color:white;
                    background: -webkit-radial-gradient(circle at 25px 25px, #2b82cc, #53b0fe);
                    background: radial-gradient(circle at 25px 25px, #2b82cc, #53b0fe);
                }
            }
            &:nth-child(3) td:nth-child(2){
                em{
                    background: #f8a968;
                    color:white;
                    background: -webkit-radial-gradient(circle at 25px 25px, #c57532, #f8a968);
                    background: radial-gradient(circle at 25px 25px, #c57532, #f8a968);
                }
            }
            &:nth-child(2) td:nth-child(3),&:nth-child(3) td:nth-child(3),&:nth-child(4) td:nth-child(3){
            }
        }
/*         th{
            font-weight: 400;
            background: #efeef4;
            font-size:1.2em;
            line-height:2.5em;
            min-width: 3.5em;
        } */
        td{
            &:nth-child(2){
                color:#333;
                text-align: center;
            }
                padding: 0.5em 0.8em;
        }
        img{
            width: 3em;
            height:3em;
            @include border-radius(50%);
            float: left;
            margin-right: 1em;
        }
        p{
            line-height:1.5em;
            height: 2.8em;
            overflow: hidden;
        }
        em{
            display:block;
            margin:0 auto;
            width: 1.8em;
            height: 1.8em;
            @include border-radius(50%);
            line-height:1.8em;
        }
    }
}
