@import 'scssConfig','mixin','variable';
/*--Ã¦Â Â·Ã¥Â¼ÂÃ©â€¡ÂÃ§Â½Â®*/
html { font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
body { margin: 0; height: 100%; overflow-x: hidden; -webkit-overflow-scrolling: touch;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }

a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: inherit; }
a:active { outline: 0; }
/*a:active { color: #006699; }*/
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle; }
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible;appearance: none; -moz-appearance: none; -webkit-appearance: none;}
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal;font-size: inherit; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: none;}
optgroup { font-weight: bold; }
ins{
    text-decoration: initial;
}
em,i{
    font-style: inherit;
}
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }

html, button, input, select, textarea { font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial,  "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1,h2,h3 {
    font-weight: normal;
}
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #cccccc;
}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{
    color: #cccccc;
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
/*Ã¦Â Â·Ã¥Â¼ÂÃ©â€¡ÂÃ§Â½Â®--*/

/*--Ã¥Â¸Â¸Ã§â€Â¨Ã¥Å½Å¸Ã¥Â­ÂÃ§Â±Â»*/
.fl{
    float: left;
}
.fr{
    float: right;
}
/*Ã¥Â¸Â¸Ã§â€Â¨Ã¥Å½Å¸Ã¥Â­ÂÃ§Â±Â»--*/







.cGold{
    color:$glod;
}
.cGray{
    color:$btngray;
}
.cGreen{
    color:$green;
}

.iconfont.del:after { content: "\e607"; }
.iconfont.unfold:after { content: "\e601"; }
.iconfont.back:after { content: "\e60a"; }
.iconfont.right:after {
  content: "\e60e";
}
.iconfont.info:after { content: "\e610"; }
.iconfont.gonggao:after {
  content: "\e649";
  color:#dc3b40;
  transform: translate(0,.1em);
  display: inline-block;
  font-size: 1.2em;
}
.iconfont.xiala:after { content: "\e61e"; }
.iconfont.copy:after { content: "\e61f"; }

.iconfont{
  font-style: normal;
  font-family: 'iconfont';
  font-size: inherit;
  color: inherit;
}

.DontSelect{
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

body{
  background-color: $bodyB;
  // opacity:0;
}
.top,.bottom{
  z-index:100;
}
.top{
  position: fixed;
  top: 0;
  width: 100%;
  height: map-get($l,top)/.9;
  line-height: map-get($l,top)/.9;
  font-size:.9em;
  text-align: center;
  color: #fff;
  background:#dc3b40;
  @include bg-linear-gradient('bottom, #dc3b40 2%,#dc3b40 50%, #db3b40 51%, #d7363b 100%');
  h2{
    display: inline-block;
    font-size: .9em;
    font-weight: normal;
  }
  img{
    vertical-align: initial;
    width: 6.3em;
    height: 1.2*1.5em;
    margin-top: 0.37778em;
  }
  >.iconfont{
    position: absolute;
    top: 0;
    left: 0;
    width: 2.5em;
    height: 100%;
    // line-height: 2.5em;
    fill:#fff;
  }
}
.NOBACK .top .iconfont{
  display:none;
}

.bottom{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  background-color: #22292c;
    a:nth-child(1) .iconfont:before{
        content: "\e629";
    }
    a:nth-child(2) .iconfont:before{
        content: "\e664";
    }
    a:nth-child(3) .iconfont:before{
        content: "\e62d";
    }
    a:nth-child(4) .iconfont:before{
        content: "\e627";
    }
    a:nth-child(5) .iconfont:before{
        content: "\e62b";
    }
    a:nth-child(1).on .iconfont:before{
        content:"\e62a";
    }
    a:nth-child(2).on .iconfont:before{
        content:"\e665";
    }
    a:nth-child(3).on .iconfont:before{
        content:"\e62e";
    }
    a:nth-child(4).on .iconfont:before{
content:"\e628";
    }
    a:nth-child(5).on .iconfont:before{
content:"\e62c";
    }
  a{
    color: #bbb;
    width: 20%;
    display: block;
    float: left;
    text-align: center;
    &.on{
      color:#e54042;
    }
    i{
      margin-top:.2em;
      display: block;
      font-size: 1.2em;
      line-height: 1.1em;
      height:1.1em;
      font-weight:100;
    }
    p{
      font-size: .6em;
      line-height:1.2em;
    }
  }
}
.bottom:before{
  content: '';
  position: absolute;
  left: 0;
  background: #c2c2c4;
  width: 100%;
  height: 1px;
  @include scaleY(0.5);
  @include origin( 0 0);
}

.main{
  font-size: inherit;
  padding-top: map-get($l,top);
  padding-bottom: map-get($l,bottom);
  .innerWrap{
/*     margin-top:map-get($l,margin); */
    margin-top:0.7em;
    .hr1px:first-of-type,.hr1px:last-of-type{
      width:100%;
    }
  }
}


.BTN{
  text-align: center;
  @include border-radius(.2em);
  -webkit-tap-highlight-color:transparent;
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  color:#ffffff;
  background: #dc3b40;
  @include bg-linear-gradient('bottom, #dc3b40 2%, #dc3b40 50%, #db3b40 51%, #d7363b 100%');


  a{
    font-size: .9em;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    /* color: white; */
  }
  &:active{
    background:#c71919;
  }
}
.submitBtn{
  width:90%;
  margin:1em auto;
  display: block;
  font-size:0.8em;
  line-height:2.6em;
}
.BTN.unClick{
  color: #666;
  background: $btngray1;
  border-color: $btngray;
}
.BTN.unClick:active{
  background-color:$btngray;
}
.hr1px{
  height: 1px;
  @include bgImg-linear-gradient('90deg, #d0d0d0, #d0d0d0 50%, transparent 50%');
}
.personalInfo ul li:active, .active:active{
  // background-color:#f3f2f7;
  background-color:#d9d9d9;
}

/* fullPageMsg */
.fullPageMsg{
  text-align: center;
  position:absolute;
  @include translateY(100%);
  width:100%;
  color:$font-gray;
  .fullPageIcon{
    font-size:5rem;
    line-height: 4.5rem;
  }
  p{
    font-size:.8em;
  }
}


/**
 ** Ã¤Â¸â‚¬Ã¥Æ’ÂÃ§Â´Â Ã¨Â¾Â¹Ã¦Â¡â€ 
 */

.newWinner ul li > div,.personalInfo ul li > div, .fix{
    &:before,
    &:after {
        content:"";
        display:table;
    }
    &:after {
        clear:both;
        overflow:hidden;
    }
}
.one li,.surperise{
  &:after,&:before{
        content:"";
        position:absolute;
        width:100%;
        height:1px;
        @include bgImg-linear-gradient('90deg, transparent 50%, #d0d0d0, #d0d0d0 50%');
  }
}
.manageBankcard .surperise .wrap{
  position:relative;
  &:before{
        content:"";
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:1px;
        @include bgImg-linear-gradient('90deg, transparent 50%, #d0d0d0, #d0d0d0 50%');
  }
}

.top{
    z-index:10;
    .right{
      position:absolute;
      right: 0.5em;
      font-size:0.9em;
    }
}
.top ul{
    display: block;
    width: 9rem;
    height: 1.7em;
    line-height: 1.7em;
    @include border-radius(.2em);
    border: 1px solid #fff;
    margin: .442em auto;
    overflow: hidden;
    li{
        width:4.455555rem;
        @include widthCalc(calc(4.5rem - 1px));
        float:left;
        a{
            display:block;
            width:100%;
            height:100%;
            font-size:.8em;
            color: white;
        }
    }
    .on{
        background:#fff;
        a{
          color:$green;
        }
    }
}

.changeBtn{
    text-align: center;
}
.subBtn{
    background: #e4393c;
    color: white;
    display: inline-block;
    width: 6rem;
    font-size: 0.8em;
    padding: 0.3rem 0;
    @include border-radius(0.15rem);
}
.cancel{
    background: #d6d6d6;
}

//tabÃ¥Ë†â€¡Ã¦ÂÂ¢
#leftTabBox{
  width: 100%;
  overflow: hidden;
  .hd{
    background:#f3f3f3;
    line-height:2.6em;
    font-size:0.8em;
      &:after{
        content: '';
        position: absolute;
        background: #d0d0d0;
        width: 100%;
        height: 1px;
        @include scaleY(0.5);
        @include origin( 0 0);
        z-index:3;
      }
    ul{
      display:table;
      table-layout:fixed;
      width: 100%;
    }
    li{
      display:table-cell;
      text-align:center;
    }
  }
  .on{
    color:#dc3b40;
    border-bottom: 2px solid;
  }
}
#banner .hd{
  width: 100%;
  height: 2em;
  line-height: 2em;
  position:absolute;
  bottom:-0.5em;
  z-index: 8;
  ul{
    display: table;
    width: 100%;
    table-layout: fixed;
    text-align:center;
  }
  li{
/*     font-size: 16/20*1em; */
    /* color: #232323; */
/*     border-bottom: 2px solid $bodyB; */
    text-align: center;
    display:table-cell;
    display: inline-block;
    background:#999;
    width:0.3em;
    height:0.3em;
    margin:0.2em;
    @include border-radius(0.5em);
  }
  .on{
    background:white;
  }
}

/**
 * 
 */


.L_K3:before,.L_PK10:before,.L_XYNC:before,.L_KL8:before,.L_PL35:before,.L_FC3D:before,.L_SSC:before,.L_SYX5:before,.L_more:before,.L_6HC:before{
  position:absolute;
  z-index: 5;
  text-shadow: 0 1px 1px white;
}
.L_K3{
  &:before {
    content: "\e65b";
    color: #e41404;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba(#e41404,.42);
  }
}

.L_PK10{
  &:before {
    content: "\e668";
    // content: "\e661";
    color: $c-PK10;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba($c-PK10,.42);
  }
}

.L_XYNC{
  &:before { 
    content: "\e63a"; 
    color: #e70014;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba(#e70014,.42);
  }
}

.L_KL8{
  &:before {
    content: "\e662";
    color: #fc5826;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba(#fc5826,.42);
  }
}

.L_PL35{
  &:before {
    content: "\e65e";
    color: $c-PL35;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba($c-PL35,.42);
  }
}

.L_FC3D{
  &:before {
    content: "\e65c";
    color: #00b7ee;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba(#00b7ee,.42);
  }
}

.L_SSC{
  &:before {
    content: "\e65f";
    color: #f96e00;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba(#f96e00,.42);
  }
}

.L_SYX5{
  &:before {
    content: "\e65d";
    color: #218ddd;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba(#218ddd,.42);
  }
}
.L_more{
  &:before {
    content: "\e650";
    color: #FA7E00;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba(#FA7E00,.42);
  }
}
.L_6HC{
  &:before {
    content: "\e663";
    color: #38b39e;
  }
  &:after{
    text-shadow: 0 .07em .1em rgba(#38b39e,.42);
  }
}
/**
 * loading
 */
.winningListLoading{
  text-align: center;
  padding: 50px 0;
  background: white;
  @include minHeightCalc(calc(100vh - 6.85556em));
  img{
    width: 40px;
    margin:5px 0;
  }
  p,h5{
    font-size: 0.7em;
    color:#333;
  }
}


/**
 * Ã¤Â¸â€°Ã¥Ë†â€”Ã§Â«â€“Ã§ÂºÂ¿Ã¦Â Â·Ã¥Â¼Â
 */

.PLSdetail {
  padding: 1rem;
  margin-top: 0;
  font-size: 2em;
  -o-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  width: 200%;
  @include origin( 0 0);
  background: white;
  li {
    float: left;
    width: 9.8rem;
    height: 10rem;
    text-align: center;
    font-size: 1.4rem;
    padding: 3rem 0;
    border-bottom: 1px solid #d0d0d0;
    span {
      display: block;
      color: #ff6818;
      font-size: 1.2em;
    }
    &:nth-child(3n+1), &:nth-child(3n+2) {
      border-right: 1px solid #d0d0d0;
    }
    &:nth-last-of-type(1), &:nth-last-of-type(2), &:nth-last-of-type(3) {
      border-bottom: none;
    }
  }
}

/**
 * xuan xiang
 */
.moreLayer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #efeef4;
  z-index: 12;
  ul{
    background-color: white;
    li+li{
      border: none;
      @include bgImg-linear-gradient('90deg, #e0e0e0, #e0e0e0 50%, transparent 50%');
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-position: top;
    }
  }
  ul+ul{
    margin-top: 0.5em;
  }
  a{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    padding:0.5em;
    &:active{
      background-color: #d9d9d9;
    }
  }
}
.blackBg{
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4;
  z-index: 11;
}

/**
 * top  more ... btn
 */
.topMore{
  font-family:"iconfont";
  font-size:1em;
  position:absolute;
  right:0.4em;
  padding: 0 0.6em;
  &:active{
    background:#ad1d21;
  }
}

.noActive:active{
  background:initial !important;
}

/**
 * top more sort
 */
.textMore{
  position: absolute;
  top: 0;
  right: 0.5em;
  width: 3.5em;
  height: 100%;
  font-size:0.9em;
  text-align:right;
  i{
  }
}

/**
 * Ã¥Å Â Ã¨Â½Â½Ã¤Â¸Â­Ã¤Â¸Å½Ã¥Å Â Ã¨Â½Â½Ã¥Â®Å’Ã¦Ë†Â
 */
.msg{
  text-align: center;
  line-height: 0.9em;
}
.loadingMsg{
  font-size: 0.7em;
  // padding: 0.9em 0;
  color: #4c4c4c;
  overflow: initial !important;
  /* background: initial !important; */
  svg{
    height: 1.2em;
    width: 1.2em;
    transform: translateY(0.2em);
  }
}
.noMore{
  background:initial !important;
}


.proxySearch{
  width: 90%;
  @include widthCalc(calc(100% - 1em));
  text-align: left;
  margin: 0.3em 0.5em;
  @include border-radius(0.2em);
  height:1.6em;
  font-size:0.7em;
  margin-right: 0;
  color:#999;
  display:block;
  float: left;
  border:none;
  border-right:none;
  -webkit-appearance:none;
  padding:0;
  &:focus{
    outline: none;
  }
}
.searchBtn{
  background:#efeef4 !important;
  width: 100%;
  position:relative;
  height: 2.8em;
  overflow: hidden;
  a{
    position:absolute;
    right:0.6em;
    top:0.6em;
    display:block;
    width:1.6em;
    height:1.6em;
    i{
      font-size:1.2em;
    }
    &:active{
      div{
        background:#a91519;
      }
    }
  }
}
.searchCon{
  @include widthCalc(calc(100% - 1.2em));
  background:white;
  height: 1.6em;
  margin: 0.6em;
  @include border-radius(0.2em);
}
.submitTouch{
  color: white;
  background: #dc3b40;
  display: block;
  float: left;
  width: 1.6em;
  text-align: center;
  height: 1.6em;
  @include border-radius(0.2em);
  line-height: 1.8em;
  font-size: 0.7em;
  margin:0.34em 0;
  margin-left:0.3em;
}

/**
 * top margin 0.7em
 */
.mainTop{
  margin-top:0.7em !important;
}
.dataSort{
  background:white;
  .main{
    background:#efeef4;
  }
}

.msgPage{
  .touchScroll{
    overflow-y: initial;
    min-height: initial;
    height:initial !important;
    border: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
  }
}


.currentUser{
  color:#0a5eff;
  line-height:1.5em;
  ins,i{
    display:inline-block;
  }
  ins{
    transform: translateY(0.05em);
  }
  i{
    font-size:2em;
    vertical-align: bottom;
    transform: translateY(0.07em);
  }
}

/**
 * full loading animate.
 */

.iconLoadingCon{
  height: 5em;
  width: 5em;
  display: block;
  margin:0 auto;
/*   @include mtcalc(calc(50vw + 1.5em)); */
  position: relative;
}
.iconLoadingText{
  position: absolute;
  left: 0;
  bottom: 0;
  color: #253646;
  text-align: center;
  width: 100%;
  font-family: "iconfont";
  font-size: 5em;
  line-height: 1em;
}
.iconLoadingMove {
  will-change: transform;
  -webkit-animation: xAxis 0.8s infinite ease-in-out;
  animation: xAxis 0.8s infinite ease-in-out;
  position: absolute;
  bottom: 0;
  left: 1.2em;
}

.iconLoadingMove:after {
  content:"";
  background:unquote("url(" + $imgurl + "/system/common/other/fangdajing.png) no-repeat");
  background-size: 2.5em;
  width: 2.5em;
  height: 2.5em;
  color:#e74c27;
  text-shadow:0 0 1px white;
  display: block;
  will-change: transform;
  -webkit-animation: yAxis 0.8s infinite ease-in-out;
  animation: yAxis 0.8s infinite ease-in-out;
  animation-delay: -0.2s;
}

@keyframes yAxis {
  50% {
    -webkit-transform: translateY(-1.2em);
    transform: translateY(-1.2em);
  }
}

@-webkit-keyframes yAxis {
  50% {
    -webkit-transform: translateY(-1.2em);
    transform: translateY(-1.2em);
  }
}

@keyframes xAxis {
  50% {
    -webkit-transform: translateX(1.2em);
    transform: translateX(1.2em);
    }
}

@-webkit-keyframes xAxis {
  50% {
    -webkit-transform: translateX(1.2em);
    transform: translateX(1.2em);
  }
}
.fullLoading{
  position: fixed;
  top:0;
  left: 0;
  bottom:0;
  right: 0;
  z-index: 1;
  background: #efeef4;
  display: table;
  width: 100%;
  height: 100%;
}
.loadingCell{
  display:table-cell;
  vertical-align:middle;
}
#TouchScroll,
#LayerLi{
  border: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}
.dataType{
  z-index: 999;
  background: initial !important;
  position: fixed;
  right: .6em;
  top: 0;
  color: white;
  font-size: 0.8em;
  height: 2.9em !important;
  width:initial !important;
  line-height: 2.9em;
}

/*
 * loading
 */
.svgLoad{
  display: inline-block;
  vertical-align: middle;
  width: 1.25em;
  height: 1.25em;
  margin-top: -.3em;
  margin-right: 2px;
  fill:#333;
  transform: translateY(1px);
}
#uulive-logo{
  width:initial !important;
  height: 1.5em;
  vertical-align: sub;
  margin-right: .3em;
  display: inline-block;
  transform: translateY(.1em);
}
body > * {
  display: none !important;
}
.layermbox,#app{
  display: block !important;
}
#uulive-logo{
  width:initial !important;
  height: 1.5em;
  vertical-align: sub;
  margin-right: .3em;
  display: inline-block;
  transform: translateY(.1em);
}
